<!DOCTYPE html>

<html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style-home.css') }}">

  <body style="background-color: rgb(173, 216, 230);">    
  
    <div class="navbar" style="display: flex; justify-content: space-between; align-items: center;">

        <a href="/" style="text-decoration: none; color: black;">
            <h4 style="margin: 0;">Our Website</h4>
        </a>

      <div style="display: flex; gap: 20px;">
        <a href="/signin" style="text-decoration: none; color: black;">
            <h4 style="margin: 0;">Login</h4>
        </a>
        <a href="/signup" style="text-decoration: none; color:black">
            <h4 style="margin: 0;"> Sign up</h4>
        </a>
      </div>

    </div>
    
    <div class="login-box">
      <h2 class="sign-up-header">
        Login
      </h2>
      
      <input type="text" placeholder="Username" class=sign-up-username id="username">
      <input type="password" placeholder="Password" class=sign-up-password id="password">
      <br>
      <button class="SignUp" onclick=Logon()>
        Login
      </button>
      
      <p class="SignUpWarning" id="SignUpWarn" style="visibility:hidden">Bruh</p>

      
    </div>

  </body>  
  <script src="{{ url_for('static', filename='logonManager.js') }}"></script>

</html>