<!DOCTYPE html>

<html>
    <heading>
        <title>Create a post</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style-post.css') }}">
        <script src="{{ url_for('static', filename="getCookies.js") }}"></script>
        <script src="{{ url_for('static', filename="submitPost.js") }}"></script>
    </heading>
    <body style="background-color:rgb(173, 216, 230);">

        <div>
            <h1 class="header">Post</h1>
            <textarea class="header-type" id="document"></textarea>
            <button class="submit" onclick="buttonPressed()">Submit</button>
        </div>

    </body>
</html>